
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Template.cshtml";
}

<div class="particle-container">
        <div style="background: url('@ViewBag.SlaytBackground') no-repeat center center" id="staticSlide">
            <div class="staticSlideContent">
                <h1>Emre KANTARCI</h1>
                <div id="showCaption"></div>
                <ul id="caption">
                    <li>Grafiker</li>
                    <li>Yazılımcı</li>
                    <li>Web Tasarımcı</li>
                    <li>Blogger</li>
                </ul>
                <a class="btn btn-special" href="/Portfolio">PORTFOLYO</a>
                <div class="header-social-links mt-4   social-white">
                    <a href="https://facebook.com/@(ViewBag.FacebookUrl)" target="_blank" class="btn-sm mr-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://x.com/@(ViewBag.Xurl)" target="_blank" class="btn-sm mr-2"><i class="fab fa-x-twitter"></i></a>
                    <a href="https://www.instagram.com/@(ViewBag.InstagramUrl)" target="_blank" class="btn-sm mr-2"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/@(ViewBag.LinkedinUrl)" target="_blank" class="btn-sm mr-2"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://github.com/@(ViewBag.GithubUrl)" target="_blank" class="btn-sm mr-2"><i class="fab fa-github"></i></a>
                </div>
                <!-- Parçacıklar -->
                <div class="particle"></div>
                <div class="particle"></div>
                <div class="particle"></div>
                <div class="particle"></div>
                <div class="particle"></div>
                <div class="particle"></div>
                <div class="particle"></div>
                <div class="particle"></div>
                <div class="particle"></div>
                <div class="particle"></div>
                <div class="particle"></div>
                <div class="particle"></div>
                <div class="particle"></div>
                <div class="particle"></div>
                <div class="particle"></div>
                <div class="particle"></div>
                <div class="particle"></div>
                <div class="particle"></div>
                <div class="particle"></div>
                <div class="particle"></div>
                <div class="particle"></div>
                <div class="particle"></div>
                <div class="particle"></div>
                <div class="particle"></div>
                <div class="particle"></div>
            </div>
        </div>
    </div>
</div>

