
@{
    ViewData["Title"] = "Maintenance";
    Layout = "~/Pages/Shared/_Maintenance.cshtml";
}


<p>En kısa sürede tekrardan aktif olacaktır.  <br /> <br /> <a class="btn btn-primary" href="/Home/Index">Anasayfa</a>  </p>
